.main {
    padding: 20px;
    background-color: transparent;
    margin-top: 350px;
}

.products-grid {
    display: grid;

    /* Automatically fits as many columns as possible with a minimum width of 200px */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

@media (max-width: 575px) {
    .main {
        margin-top: 100px;
    }
}

@media (max-width: 700px) {
    .main {
        padding: 12px;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .product-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.product-container {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    background-color: var(--surface-bg-color);
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 180px;
    margin-bottom: 20px;
}

.product-image {
    /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
    max-width: 100%;
    max-height: 100%;
}

.product-name {
    height: 40px;
    margin-bottom: 5px;
}

.product-rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-rating-stars {
    width: 100px;
    margin-right: 6px;
}

.product-rating-count {
    color: var(--link-color);
    cursor: pointer;
    margin-top: 3px;
}

.product-price {
    font-weight: 700;
    margin-bottom: 10px;
}

.product-quantity-container select{
    margin-bottom: 17px;
    color: var(--text-primary);
    background-color: #f0f2f2;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.product-spacer {
    flex: 1;
}

.added-to-cart {
    color: var(--accent-color);
    font-size: 16px;

    display: flex;
    align-items: center;
    margin-bottom: 8px;

    /* At first, the "Added to cart" message will
     be invisible. Use JavaScript to change the
     opacity and make it visible. */
    opacity: 0;
}

.added-to-cart img {
    height: 20px;
    margin-right: 5px;
}

.add-to-cart-button {
    width: 100%;
    padding: 8px;
    border-radius: 50px;
}


.ok-added-to-cart {
    opacity: 1;
    transition: opacity 0.150s ease;
}

.added {
    background-color: transparent;
    color: #10a37f;
    transition: background-color 0.4s ease;
}

.added:hover {
    background-color: transparent;
}